<!-- app/views/games/new.html.erb -->
<h1>Let's Play!</h1>
<p>Votre score actuel est <%= session[:score] %></p>

<%= form_with url: score_path, method: :post, local: true do %>
  <div>
    <p>Grille de lettres : <%= @letters.join(' ') %></p>
    <%= hidden_field_tag :letters, @letters.join(' ') %>
  </div>
  <div>
    <%= label_tag :word, "Votre mot:" %>
    <%= text_field_tag :word %>
  </div>
  <div>
    <%= submit_tag "Valider le mot" %>
  </div>
<% end %>

<% if @message %>
  <p><%= @message %></p>
<% end %>
